/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$blue: #007CBF;
$mainFont: 'Lato', sans-serif;
$mainColor: #000;
$headingFont: 'News Cycle', Impact, sans-serif;
$headingColor: $blue;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: #00008B;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .slides {
  text-align: left;
}

.reveal li {
  margin: 20px 0;
  line-height: 1.3;
}

.reveal pre {
	width: 100%;
	margin: 0;
	box-shadow: none;
	font-size: .9em;

	code {
		max-height: 900px;
	}
}

.reveal div > code,
.reveal p > code,
.reveal li > code {
	display: inline-block;
	background-color: $blue;
	color: white;
	padding: 2px 12px;
	border-radius: 12px;
}

.reveal .bubble {
  position: absolute;
  background: #f0f0f0;
  display: block;
  padding: 4px 12px;
  border: 4px solid #000;
  border-radius: 12px;
  box-shadow: 0 0 3px rgba(#000, .5);

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    border-style: none solid solid solid;
  }

  &::before {
    top: -30px;
    left: 30px;
    border-color: transparent transparent #000 transparent;
    border-width: 30px;
  }

  &::after {
    top: -24px;
    left: 35px;
    border-color: transparent transparent #f0f0f0 transparent;
    border-width: 25px;
  }

  &.danger {
    color: red;
  }
}

.hljs {
	background: transparent !important;
}

.reveal .slides section .fragment {
  &.replace {
    position: absolute;
  }

  &:not(.fade-out).remove:not(.current-visible):not(.visible),
  &:not(.fade-out).remove.current-visible:not(.current-fragment){
    display: none;
  }

  &.fade-out.remove.visible {
    display: none;
  }
}

.reveal .slides section mark.fragment.highlight-current {
  opacity: 1;
  visibility: inherit;
}

.reveal .slides section mark.fragment.highlight-current:not(.current-fragment) {
  color: inherit;
  background-color: transparent;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
}

.index-bubble {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  font-family: monospace;
  font-size: .7em;
  color: #fff;
  background-color: $blue;
  border-radius: 50%;
  text-align: center;
  vertical-align: .15em;

  &.outside {
    position: absolute;
    left: -2em;
  }
}